/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Arial", "Verdana"; }

/*
    TITRE
*/
h1, h2, h3, h4, h5, h6 {
  color: #7B2C96;
  line-height: 1.5em;
  margin: 10px 18px; }

h1 {
  font-size: 2.1rem;
  font-weight: bold; }

h2 {
  font-size: 1.9rem;
  font-weight: bold; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 0.9rem; }

/*
    SOUS-TITRE
*/
h1 small,
h1.sub {
  font-size: 1.9rem; }

h2 small,
h2.sub {
  font-size: 1.7rem; }

h3 small,
h3.sub {
  font-size: 1.5rem; }

h4 small,
h4.sub {
  font-size: 1.3rem; }

h5 small,
h5.sub {
  font-size: 1.1rem; }

h6 small,
h6.sub {
  font-size: 0.8rem; }

/*
    PARAGRAPHE
*/
p {
  margin: 15px  7px;
  line-height: 1.2rem; }

/*
    BALISE DE TEXTE
*/
mark {
  color: red;
  font-weight: bold; }

del {
  opacity: 0.4;
  text-decoration: line-through; }

ins {
  font-weight: bold;
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-style: italic; }
  abbr:hover {
    color: #CCCCCC; }

/*
    QUOTE & BLOCKQUOTE
*/
code {
  background-color: #F5D9FF;
  color: #7B2C96; }

blockquote {
  display: block;
  border-left: #696969 solid 6px;
  margin: 10px;
  padding: 7px; }

pre {
  display: block;
  border: grey solid 1px;
  border-left: #7B2C96 solid 5px;
  border-radius: 10px;
  background-color: #CCCCCC;
  white-space: pre;
  padding: 12px 6px;
  margin: 15px 7px; }

kbd {
  color: #fff;
  background-color: #7B2C96;
  padding: 1px 3px;
  border-radius: 4px; }

ul {
  margin: 18px 7px;
  line-height: 1.2em; }
  ul > li {
    margin-left: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    list-style-type: circle; }
  ul.square > li {
    list-style-type: square; }
  ul.unstyled > li {
    list-style-type: none; }

.align-gauche {
  text-align: left; }

.align-droite {
  text-align: right; }

.align-centre {
  text-align: center; }

.align-justifie {
  text-align: justify; }

.to-maj {
  text-transform: uppercase; }

.to-min {
  text-transform: lowercase; }

table {
  margin: 15px; }
  table > tbody > tr {
    text-align: center;
    border: solid grey 1px; }
    table > tbody > tr > th {
      font-weight: bold;
      background-color: #CCCCCC;
      padding: 10px 20px;
      border: solid grey 1px; }
    table > tbody > tr > td {
      padding: 10px 20px;
      border: solid grey 1px; }

table.alternate {
  border: solid grey 1px; }
  table.alternate > tbody > tr > th {
    background-color: black;
    color: white;
    border: none; }
  table.alternate > tbody > tr > td {
    border: none; }
  table.alternate > tbody > tr:nth-child(2n) > td {
    background-color: #CCCCCC; }

table.complete > tbody > tr, table.complete > tbody > tr > td, table.complete > tbody > tr > th {
  border-width: 8px; }

table.hover > tbody > tr:hover > td {
  background-color: #F5D9FF;
  color: #7B2C96; }

button {
  font-size: 1rem; }

.btn {
  border: solid grey 1px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px 5px;
  background-color: grey;
  color: white;
  text-decoration: none;
  box-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.7);
  display: inline-block;
  cursor: pointer;
  text-align: center; }
  .btn:hover, .btn:focus {
    background-color: #676767; }
  .btn:active {
    background-color: #9a9a9a; }
  .btn.btn-large {
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.2rem; }
  .btn.btn-small {
    margin: 2px;
    padding: 5px 10px;
    line-height: 0.9rem; }
  .btn.btn-xtra-large {
    display: block;
    width: 100%;
    margin-left: 7px;
    margin-right: 7px; }
  .btn.btn-flat {
    border: none;
    border-radius: 0;
    box-shadow: none; }
  .btn.btn-blue {
    background-color: blue;
    color: white; }
    .btn.btn-blue:hover, .btn.btn-blue:focus {
      background-color: #0000cc; }
    .btn.btn-blue:active {
      background-color: #3333ff; }
  .btn.btn-red {
    background-color: red;
    color: white; }
    .btn.btn-red:hover, .btn.btn-red:focus {
      background-color: #cc0000; }
    .btn.btn-red:active {
      background-color: #ff3333; }
  .btn.btn-yellow {
    background-color: yellow;
    color: black; }
    .btn.btn-yellow:hover, .btn.btn-yellow:focus {
      background-color: #cccc00; }
    .btn.btn-yellow:active {
      background-color: #ffff33; }
  .btn.btn-fancy {
    border: solid black 2px;
    border-radius: 25px;
    box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.7), 0px -25px 20px rgba(255, 255, 255, 0.7) inset; }
    .btn.btn-fancy:hover {
      box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.7), 0px -25px 20px rgba(255, 255, 255, 0.3) inset; }

.alert {
  display: block;
  border: 1px solid;
  border-radius: 4px;
  padding: 18px;
  margin: 7px; }
  .alert.alert-danger {
    background-color: #FF8686;
    color: #8C0300;
    border-color: #8C0300; }
  .alert.alert-sucess {
    background-color: #69E78E;
    color: #25743C;
    border-color: #25743C; }
  .alert.alert-information {
    background-color: #5BC0DE;
    color: #276172;
    border-color: #276172; }
  .alert.alert-avertissement {
    background-color: #FFDB74;
    color: #806826;
    border-color: #806826; }

.header {
  display: block;
  color: #985CAD;
  background: #490063;
  padding: 10px;
  text-shadow: 1px 3px black; }
  .header .title {
    display: block;
    font-size: 4rem;
    font-weight: bold; }
  .header .subtitle {
    display: inline-block;
    padding-left: 12px;
    font-size: 2rem;
    font-style: oblique; }

.jumbotron {
  margin: 12px;
  padding: 20px;
  background-color: #BCBCBC;
  border-radius: 7px;
  text-align: center; }

/*# sourceMappingURL=2sec.css.map */
