
@mixin alert-color($primary-color, $secondary-color) {
  background-color: $primary-color;
  color: $secondary-color;
  border-color: $secondary-color;
}

.alert{
  display: block;
  border:1px solid;
  border-radius: 4px;
  padding :18px;
  margin: 7px $margin-page;

  &.alert-danger{
    @include alert-color($alert-danger-primaire, $alert-danger-secondaire);
  }

  &.alert-success{
    @include alert-color($alert-success-primaire, $alert-success-secondaire);
  }

  &.alert-information{
    @include alert-color($alert-information-primaire, $alert-information-secondaire);
  }

  &.alert-avertissement{
    @include alert-color($alert-avertissement-primaire, $alert-avertissement-secondaire);
  }
}
