button {
    font-size: 1rem;
}


@mixin button-color($back-color, $font-color) {
    background-color: $back-color;
    color: $font-color;
    &:hover, &:focus {
        background-color: darken($back-color, $bouton-color-difference);
    }
    &:active {
        background-color: lighten($back-color, $bouton-color-difference);
    }
}


.btn {
    border: $bordure-grise;
    border-radius: $bordure-radius-box;
    padding: 10px 20px;
    margin: 5px 5px;
    background-color: grey;
    color: white;
    text-decoration: none;
    box-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.7);
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    &:hover, &:focus {
        background-color: darken(grey, $bouton-color-difference);
    }
    &:active {
        background-color: lighten(grey, $bouton-color-difference);
    }

    &.btn-large {
        padding: 15px 30px;
        font-weight: bold;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 1.2rem;
    }

    &.btn-small {
        margin: 2px;
        padding: 5px 10px;
        line-height: 0.9rem;
    }

    &.btn-xtra-large {
        display: block;
        width: 100%;
        margin-left: $margin-page;
        margin-right: $margin-page;

    }

    &.btn-flat {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    &.btn-blue {
        @include button-color(blue, white);
    }

    &.btn-red {
        @include button-color(red, white);
    }

    &.btn-yellow {
        @include button-color(yellow, black);
    }

    &.btn-fancy {

        border: solid black 2px;
        border-radius: 25px;
        box-shadow: $boxshadow1,
            0px -8px 20px rgba(255, 255, 255, 0.7) inset;

            &:hover{
              box-shadow: $boxshadow1,
                  0px -8px 20px rgba(255, 255, 255, 0.3) inset;
            }

    }
}
