
.header{
  display: block;
  color:$violet-color-header;
  background: $violet-back-header;
  padding : 10px;
  text-shadow: 1px 3px black;

  & .title{
    display: block;
    font-size: 4rem;
    font-weight: bold;
  }
  & .subtitle{
    display: inline-block;
    padding-left: 12px;
    font-size: 2rem;
    font-style: oblique;
  }
}

.jumbotron{
  margin: 7px;
  padding: 20px;
  background-color: #BCBCBC;
  border-radius: 7px;
  text-align: center;
  min-width: $min-size;
}

.navbar{
  display: block;
  border-top: 1px solid $violet-color-header;
  border-bottom: 1px solid $violet-color-header;
  margin: 7px;
  padding :-4px;
  min-height: 40px;

  & >ul{
    margin: 0px;

    & >li{
      margin: 0px -0.12em;
      padding: 0px 12px;
      height:100%;
      display:inline-block;
      color : black;


      & >a{
        display: block;
        padding : 10px 5px;
      }
      &:hover{
        background: $violet-color-header;
        color: white;
      }
    }
  }
}


.breadcrumb{
  & >ul{
    margin-left: 6%;
    font-size: 0.8rem;
    color: #BCBCBC;

    & >li{
      display: inline-block;
      margin : 0px;
      & >a{
        color: #BCBCBC;
        text-decoration: none;

      }
        &:nth-child(n+2){

          &::before{
            content:">";
            margin: 0 10px;
          }
        }

    }
  }

}
