@mixin calculLargeurSpan() {
    @for $i from 1 through $nb-colonnes {
        .span-#{$i} {
            width: $i / $nb-colonnes * 100 - 2%;
            display: inline-block;
            padding-left: $grille-goutiere;
            padding-right: $grille-goutiere;
            margin-right: -6px;
            vertical-align : top;
            box-sizing: border-box;

        }
    }
}

@mixin calculLargeurOffset() {
    @for $i from 1 through ($nb-colonnes - 1) {
        .offset-#{$i} {
            margin-left: $i / $nb-colonnes * 100%;
            display: inline-block;
            margin-right: -6px;
            box-sizing: border-box;
        }
    }
}

.container {
    max-width: $container-width;
    display: block;
    margin: 15px auto;
    border: solid 1px black;
    box-shadow: 3px 3px 3px black;
}

.row {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

@include calculLargeurSpan();
@include calculLargeurOffset();
