.span-1 {
    width: 10.5%;
}

.span-2 {
    width: 23%;
}

.span-3 {
    width: 35.5%
}

.span-4 {
    width: 48%;
}

.span-5 {
    width: 60.5%;
}

.span-6 {
    width: 73%;
}

.span-7 {
    width: 85.5%;
}

.span-8 {
    width: 98%;
}

.offset-1 {
    margin-left: 12.5%;
}

.offset-2 {
    margin-left: 25%;
}

.offset-3 {
    margin-left: 37.5%;
}

.offset-4 {
    margin-left: 50%;
}

.offset-5 {
    margin-left: 62.5%;
}

.offset-6 {
    margin-left: 75%;
}

.offset-7 {
    margin-left: 87.5%;
}


.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8 {
    padding-left: $grille-goutiere;
    padding-right: $grille-goutiere;
    vertical-align : top;

    &, .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7 {
        display: inline-block;
        margin-right: -6px;
    }
}

.container {
    width: $container-width;
    display: block;
    margin: 15px auto;
    border: solid 1px black;
    box-shadow: 3px 3px 3px black;
}

.row {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}
