$violet-fonce: #7B2C96;
$violet-clair: #F5D9FF;
$gris-clair: #CCCCCC;
$gris-fonce: #696969;
$boxshadow1: -1px 5px 10px 1px rgba(0, 0, 0, 0.7);
$bordure-grise: solid grey 1px;

$font-family: "Arial", "Verdana";


$bouton-color-difference: 10%
