$violet-fonce: #7B2C96;
$violet-clair: #F5D9FF;
$violet-back-header: #490063;
$violet-color-header: #985CAD;
$gris-clairCC: #CCCCCC;
$gris-fonce: #696969;
$gris-clairBC: #BCBCBC;
$alert-danger-primaire: #FF8686;
$alert-danger-secondaire: #8C0300;
$alert-success-primaire: #69E78E;
$alert-success-secondaire: #25743C;
$alert-information-primaire: #5BC0DE;
$alert-information-secondaire: #276172;
$alert-avertissement-primaire: #FFDB74;
$alert-avertissement-secondaire: #806826;


$boxshadow1: -1px 5px 10px 1px rgba(0, 0, 0, 0.7);
$bordure-grise: solid grey 1px;
$bordure-radius-box: 10px;
$font-family: "Arial", "Verdana";
$md-screen: 768px;
$sm-screen: 480px;

$bouton-color-difference: 10%;
// Margin des elements qui doivent etre decale
$margin-page: 7px;
$margin-negatif: -0.25em;

$min-size: 25em;
$min-size-sm:16em;

/* Variable de la grille */
$container-width: 940px;
$grille-goutiere: 1%;
$nb-colonnes: 8;
